<!DOCTYPE html>
<html lang="zh-cn">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
<meta name="renderer" content="webkit">
<title></title>
<link rel="stylesheet" href="{$Think.const.CSS_URL}pintuer.css">
<link rel="stylesheet" href="{$Think.const.CSS_URL}admin.css">
<script src="{$Think.const.JS_URL}jquery.js"></script>
<script src="{$Think.const.JS_URL}pintuer.js"></script>  
</head>
<body>
<div class="panel admin-panel">
  <div class="panel-head"><strong><span class="icon-key"></span>&nbsp;&nbsp;修改管理员角色名称</strong></div>
  <div class="body-content">
    <form method="post" class="form-x" action="{:url('Role/modify')}">
      <div class="form-group">
        <div class="label">
          <label for="sitename">原角色名：</label>
        </div>
        <div class="field">
          <label style="line-height:33px;">
           {$role_name}
          </label>
        </div>
      </div>      
      <div class="form-group">
        <div class="label">
          <label for="sitename">修改角色名为：</label>
        </div>
        <div class="field">
          <input type="text" class="input w50"  name="new_role_name" size="50" data-validate="required:请输入新考试科目名" />       
        </div>
      </div>    
       <input type="hidden" name="old_role_name"  value="{$role_name}" />
      <input type="hidden" name="role_id"  value="{$role_id}" />
      <div class="form-group">
        <div class="label">
          <label></label>
        </div>
        <div class="field">
          <button class="button bg-main icon-check-square-o" type="submit"> 提交</button>   
        </div>
      </div>      
    </form>
  </div>
</div>
</body></html>