<!DOCTYPE html>
<html lang="zh-cn">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
<meta name="renderer" content="webkit">
<title></title>
<link rel="stylesheet" href="{$Think.const.CSS_URL}pintuer.css">
<link rel="stylesheet" href="{$Think.const.CSS_URL}admin.css">
<script src="{$Think.const.JS_URL}jquery.js"></script>
<script src="{$Think.const.JS_URL}pintuer.js"></script>  
</head>
<body>
<div class="panel admin-panel">
  <div class="panel-head"><strong><span class="icon-key"></span>&nbsp;&nbsp;设置试题分值</strong></div>
  <div class="body-content">
    <form method="post" class="form-x" action="{:url('Test/setQuestScore')}">  
    
      {foreach $data as $k => $v}
          <div class="form-group">
	          <div class="label">
	              <label for="sitename">{$v.type_name}分数：</label>
	          </div>
	          <div class="field">
	              <input value="{$v.score}" id="saq" type="text" class="input w50"  name="score_{$v.type_id}" size="50" data-validate="required:请输入{$v.type_name}分数" />       
	          </div>
	      </div>	   			   
      {/foreach}
      
      
      <div class="form-group">
        <div class="label">
          <label></label>
        </div>
        <div class="field">
          <button class="button bg-main icon-check-square-o" type="submit">提交</button>   
        </div>
      </div>    
      
    </form>
  </div>
</div>
</body></html>