<!DOCTYPE html>
<html lang="zh-cn">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
<meta name="renderer" content="webkit">
<title></title>
<link rel="stylesheet" href="{$Think.const.CSS_URL}pintuer.css">
<link rel="stylesheet" href="{$Think.const.CSS_URL}admin.css">
<script src="{$Think.const.JS_URL}jquery.js"></script>
<script src="{$Think.const.JS_URL}pintuer1.js"></script>
</head>
<body>
<form method="post" action="" id="listform">
  <div class="panel admin-panel">
    <div class="panel-head"><strong class="icon-reorder">&nbsp;&nbsp;考生答题列表</strong> <a href="" style="float:right; display:none;">添加字段</a></div>
    <table class="table table-hover text-center">
     <tr>
        <th width="10%" style="text-align:center;">答题编号</th>
        <th width="15%" style="text-align:center;">考生用户名</th>
        <th width="15%" style="text-align:center;">考生手机号</th>
        <th width="15%" style="text-align:center;">所属单位</th>
        <th width="15%" style="text-align:center;">答题时间</th>
        <th width="10%" style="text-align:center;">分数</th>
        <th width="25%" style="text-align:center;">操作</th>
      </tr>
     	{volist name='data' id='user'}
        <tr>
          <td>{$user.id}</td>
          <td>{$user.user_name}</td>
          <td>{$user.mobile}</td>
          <td>{$user.company_name}</td>
          <td>{$user.addtime}</td>
          <td>{$user.score}</td>
          <td align="center">
          	   <div class="button-group"> 
          			<a class="button border-main" href="{:url('Check/userTestDetail')}?tid={$user.tid}&id={$user.id}"><span class="icon-edit"></span>查看该考生答题情况</a>
               </div>
          </td>								
        </tr>
        {/volist} 
      <tr>
        <td colspan="7">{$data->render()}</td>
      </tr>      
    </table>
  </div>
</form>
</body>
</html>