<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<li id="qu_0_0">
				<div class="test_content_nr_tt">
					<i>1、</i><font>在生产管理信息系统中，下列操作步骤能正确将工单推进流程的是（  ）</font>
				</div>
				<div class="test_content_nr_main">
					<ul>
						<li class="option">										
							<input type="radio" class="radioOrCheck" name="answer1" id="0_answer_1_option_1"/>
		                    <label for="0_answer_1_option_1">A.<p class="ue" style="display: inline;">在工具栏中点击“workflow”标签</p></label>
						</li>									
						<li class="option">
							<input type="radio" class="radioOrCheck" name="answer1" id="0_answer_1_option_2"/>
							<label for="0_answer_1_option_2">B.<p class="ue" style="display: inline;">在缺陷单界面中点击“推进流程”按钮</p></label>
						</li>
						<li class="option">
							<input type="radio" class="radioOrCheck" name="answer1" id="0_answer_1_option_3"/>
							<label for="0_answer_1_option_3">C.<p class="ue" style="display: inline;">在缺陷单界面中点击“提交”按钮</p></label>
						</li>
						<li class="option">
							<input type="radio" class="radioOrCheck" name="answer1" id="0_answer_1_option_4"/>
							<label for="0_answer_1_option_4">D.<p class="ue" style="display: inline;">后台启动流程推进</p></label>
						</li>
					</ul>
				</div>
		    </li>
		    <li id="qu_1_0">
				<div class="test_content_nr_tt">
					<i>1、</i><font>以下属于南方电网员工职业操守中明文规定的有（  ）</font>
				</div>
                <div class="test_content_nr_main">
				<ul>
					<li class="option"><input type="checkbox" class="radioOrCheck" name="answer1" id="1_answer_1_option_1"/>
						<label for="1_answer_1_option_1">A.<p class="ue" style="display: inline;">热爱祖国、热爱南网、热爱岗位</p></label>
					</li>
					<li class="option"><input type="checkbox" class="radioOrCheck" name="answer1" id="1_answer_1_option_2"/>
						<label for="1_answer_1_option_2">B.<p class="ue" style="display: inline;">遵纪守法、忠于职守、令行禁止</p></label>
					</li>
					<li class="option"><input type="checkbox" class="radioOrCheck" name="answer1" id="1_answer_1_option_3"/>
						<label for="1_answer_1_option_3">C.<p class="ue" style="display: inline;">客户至上、诚实守信、优质服务</p></label>
					</li>
					<li class="option"><input type="checkbox" class="radioOrCheck" name="answer1" id="1_answer_1_option_4"/>
						<label for="1_answer_1_option_4">D.<p class="ue" style="display: inline;">公平竞争、互相监督、服从监管</p></label>
					</li>
				</ul>
				</div>
			 </li>
			 <li id="qu_1_0">
				<div class="test_content_nr_tt">
					<i>1、</i><font>以下属于南方电网员工职业操守中明文规定的有（  ）</font>
				</div>
                <div class="test_content_nr_main">
				<ul>
					<li class="option">
						 <input type="radio" class="radioOrCheck" name="answer11" id="0_ansasdwer_1_option_3"/>
					     <label for="0_answasdaer_1_option_3"><p class="ue" style="display: inline;">对</p></label>
					</li>
					<li class="option">
						  <input type="radio" class="radioOrCheck" name="answer11" id="0_ansasdawer_1_option_4"/>
						  <label for="0_ansasdadwer_1_option_4"><p class="ue" style="display: inline;">错</p></label>
					</li>
				</ul>
				</div>
			 </li>
</body>
</html>